@CHARSET "UTF-8";


body{
	background-color:#030c2b;
	background-image:url("stardust2.png");
	
	
}



.headingger
{
	margin-top:15px;
	font-size: 108px; 
	text-align: center; 
	font-family: Jokerman;
	font-weight: bold;
	color:white;
	text-shadow: 0 0 5px #00a5ff, 0 0 5px #00a5ff, 0 0 2px #00a5ff; 

}


.headingSmaller
{
	text-align: center; 
	font-family: Amatic SC;
	color:white;
	font-size: 52px; 
	display: none; 
	text-align: center; 
	position: absolute; 
	margin-left: auto; 
	margin-right: auto; 
	top: 165px; 
	left: 0; 
	right: 0;
	text-shadow: 0 0 5px #00a5ff, 0 0 5px #00a5ff, 0 0 2px #00a5ff; 
}

#mainHeader{
	 -webkit-box-shadow: 0px 4px 38px 14px rgba(0, 30, 68, 1); 
	-moz-box-shadow: 0px 4px 38px 14px rgba(0, 30, 68, 1); 
	box-shadow: 0px 4px 38px 14px rgba(0, 30, 68, 1); 
	background-color: #030c2b ;
	border-bottom:solid 2px #ffffff;
		background-image:url("stardust3.png");
}

#rowMenu1, #rowMenu2, #rowMenu3{
	font-family: Amatic SC;
	text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 2px #000000; 
	text-align:center;
	color:white;
	font-size:60px;
	font-weight:bold;
	background-color: #b2d715;
	width: 325px;
    border: 4px solid white;
    padding: 75px;
    margin: 25px;
}

#movieDiv{
	font-family: Amatic SC;
	text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 2px #000000; 
	text-align:center;
	color:white;
	font-size:50px;
	font-weight:bold;
	background-color: #003791;
    border: 4px solid white;
    padding: 50px;
    margin: auto;
    margin-bottom:25px;
}

#seanseButton{
	
	font-size:35px;
	padding:30px;
	
}

